* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: beige;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;

    border: red 1px solid;
}
body > * {
    margin-top: 5rem;
    height: 50vh;
}

.product-container {
    flex-grow: 1;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: relative;
    /* border: blue 1px solid; */
}

/* removes scrollbar */
.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    width: 90%;
    height: 100%;
    position: absolute;
    transition: transform 300ms ease-out;
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    border: 2px solid black;
}

.product-card h1 {
    color: black;
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

.tag {
    position: absolute;
    background: white;
    padding: 5px;
    border-radius: 5px;
    color: blue;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: blue;
    color: white;   
}

.pre-btn, 
.nxt-btn {
    width: 5rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0) 0%;
    cursor: pointer;
    z-index: 9;
    /* border: purple 1px solid; */
}

.nxt-btn {
    transform: rotate(180deg);
}
.pre-btn img, .nxt-btn img {
    width: 2vw;
    opacity: 0.2;
}

.pre-btn:hover img, .nxt-btn:hover img {
    opacity: 1;
}