* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: beige;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    color: white;
    /* border: red 1px solid; */
}
body > * {
    margin-top: 5rem;
    height: 60vh;
    /* border: 1px solid salmon; */
}

.project-container {
    flex-grow: 1;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: relative;
    /* border: blue 1px solid; */
}

/* removes scrollbar */
.project-container::-webkit-scrollbar {
    display: none;
}

.project-card {
    width: 90%;
    height: 100%;
    position: absolute;
    transition: transform 300ms ease-out;
    background-color: black;
    border-radius: 1.5rem;
}

.project-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    border: 2px solid black;
    opacity: 0.5;
}

.project-content {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    /* border: 1px solid green; */
}

.project-content h1 {
    text-transform: uppercase;
}

.project-content a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.link-to-build {
    margin-top: 1rem;
    max-width: 3rem;
    max-height: 3rem;
    aspect-ratio: 1 / 1;
}

.project-content p {
    margin-top: 4rem;
    padding: 0 4rem;
    text-decoration: none;
}

.project-card:hover .card-btn {
    opacity: 1;
}

.pre-btn, 
.nxt-btn {
    width: 3rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0) 0%;
    cursor: pointer;
}

.nxt-btn {
    transform: rotate(180deg);
    margin-right: 2rem;
}
.pre-btn {
    margin-left: 2rem;
}

.pre-btn img, .nxt-btn img {
    width: 2vw;
    opacity: 0.2;
}

.pre-btn:hover img, .nxt-btn:hover img {
    opacity: 1;
}


@media screen and (max-width: 590px) {
    .project-content p {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }